openapi: 3.1.1
info:
  title: Customer Stripe API v1
  description: "Customer Stripe REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://apistaging.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10500
    description: local

paths:
  /v1/customer/add-payment-method:
    get:
      tags:
        - v1
        - customer
        - stripe
      summary: add customer payment method
      operationId: addCustomerPaymentMethod
      parameters:
        - name: setup_intent
          in: query
          required: true
          schema:
            type: string
        - name: setup_intent_client_secret
          in: query
          required: true
          schema:
            type: string
        - name: redirect_status
          in: query
          required: true
          schema:
            type: string

      responses:
        "200":
          description: the readiness status

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: { }
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string

    Version:
      type: object
      required:
        - major
        - minor
        - build
        - revision
      properties:
        major:
          type: integer
          format: int32
          description: major version
        minor:
          type: integer
          format: int32
          description: minor version
        build:
          type: integer
          format: int32
          description: build number
        revision:
          type: integer
          format: int32
          description: revision
