PUBLIC_SKEDULAR_APP_URL=http://localhost:15000
PUBLIC_SKEDULAR_SIGNUP_URL=http://localhost:15000
PUBLIC_SKEDULAR_DEMO_URL=http://localhost:15000
PUBLIC_SKEDULAR_BECOME_HOST_URL=http://localhost:15000
PUBLIC_SKEDULAR_SLACK_INSTALL_URL=https://slack.com/oauth/v2/authorize?scope=app_mentions%3Aread%2Cchannels%3Ajoin%2Cchannels%3Amanage%2Cchannels%3Aread%2Cchat%3Awrite%2Cteam%3Aread%2Cusers%3Aread%2Cusers%3Aread.email%2Cusers.profile%3Aread&user_scope=users.profile%3Awrite%2Cusers.profile%3Aread&redirect_uri=https%3A%2F%2Fslackapistaging.skedular.app%2Fv1%2Fslack%2Fcallback&client_id=118234978193.5578036232262
