PUBLIC_SKEDULAR_APP_URL=http://localhost:15000
PUBLIC_SKEDULAR_SIGNUP_URL=http://localhost:15000
PUBLIC_SKEDULAR_DEMO_URL=http://localhost:15000
PUBLIC_SKEDULAR_BECOME_HOST_URL=http://localhost:15000
