ASPNETCORE_ENVIRONMENT=Development

Application__IdentityProviders__Cognito__JwksUri=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_D80U3krzp/.well-known/jwks.json
Application__IdentityProviders__Cognito__Issuer=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_D80U3krzp
Application__IdentityProviders__Cognito__Audiences=7369u947e21plbor9hc4n1r15n,b7lr0dm0454j4df2g6u6l2al

Application__IdentityProviders__Google__ApplicationId=661765198440-lgar8febodjaudbn3ij5tgngqiv0qioi.apps.googleusercontent.com
Application__IdentityProviders__Google__Issuer=https://accounts.google.com

Application__PublicWebSiteBaseDomain=https://mweb.unityhub.io
Application__WebAppBaseDomain=http://localhost:15000

Subgraphs__Billing__Url=http://localhost:10800/billing/api/v1/graphql
Subgraphs__Booking__Url=http://localhost:10300/booking/api/v1/graphql
Subgraphs__Customer__Url=http://localhost:10000/customer/api/v1/graphql
Subgraphs__Location__Url=http://localhost:10600/location/api/v1/graphql
Subgraphs__MsTeams__Url=http://localhost:10900/msteams/api/v1/graphql
Subgraphs__Notification__Url=http://localhost:10400/notification/api/v1/graphql
Subgraphs__Organization__Url=http://localhost:10200/organization/api/v1/graphql
Subgraphs__Payment__Url=http://localhost:10100/payment/api/v1/graphql
Subgraphs__Slack__Url=http://localhost:10700/slack/api/v1/graphql
Subgraphs__Team__Url=http://localhost:10500/team/api/v1/graphql

Stripe__PublishableKey=
Stripe__SecretKey=

Slack__AppId=
Slack__ClientId=
Slack__ClientSecret=
Slack__SigningSecret=
Slack__RedirectUrl=
Slack__SuccessInstallUrl=

AzureAd__ClientId=
AzureAd__ClientSecret=

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
