ASPNETCORE_ENVIRONMENT=Development

IdentityProviders__Cognito__JwksUri=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_D80U3krzp/.well-known/jwks.json
IdentityProviders__Cognito__Issuer=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_D80U3krzp
IdentityProviders__Cognito__Audiences=7369u947e21plbor9hc4n1r15n,b7lr0dm0454j4df2g6u6l2al

IdentityProviders__WorkOS__JwksUri=https://api.workos.com/sso/jwks/client_01H0Q195NGRARQSJT1TTDAKKR9
IdentityProviders__WorkOS__Issuer=https://api.workos.com
IdentityProviders__WorkOS__ApiKey=

IdentityProviders__Google__ApplicationId=661765198440-lgar8febodjaudbn3ij5tgngqiv0qioi.apps.googleusercontent.com
IdentityProviders__Google__Issuer=https://accounts.google.com

Application__WebAppBaseDomain=http://localhost:15000

Subgraphs__Billing__Url=http://localhost:10800/v1/billing/graphql
Subgraphs__Booking__Url=http://localhost:10300/v1/booking/graphql
Subgraphs__Customer__Url=http://localhost:10000/v1/customer/graphql
Subgraphs__Location__Url=http://localhost:10600/v1/location/graphql
Subgraphs__MsTeams__Url=http://localhost:10900/v1/msteams/graphql
Subgraphs__Notification__Url=http://localhost:10400/v1/notification/graphql
Subgraphs__Organization__Url=http://localhost:10200/v1/organization/graphql
Subgraphs__Payment__Url=http://localhost:10100/v1/payment/graphql
Subgraphs__Slack__Url=http://localhost:10700/v1/slack/graphql
Subgraphs__Team__Url=http://localhost:10500/v1/team/graphql

Stripe__PublishableKey=
Stripe__SecretKey=

Slack__AppId=
Slack__ClientId=
Slack__ClientSecret=
Slack__SigningSecret=
Slack__RedirectUrl=
Slack__SuccessInstallUrl=

AzureEntra__ClientId=
AzureEntra__ClientSecret=

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

Organization__ApiBaseDomain=http://localhost:10200

ASPIRE_DASHBOARD_OTLP_ENDPOINT_URL=http://localhost:19115
ASPIRE_RESOURCE_SERVICE_ENDPOINT_URL=http://localhost:20185

Cloudflare__AccessKey=
Cloudflare__SecretKey=
