* text eol=lf

*.png binary
*.ico binary
*.zip binary
*.far binary
*.cer binary
graphify-out/graph.json filter=lfs diff=lfs merge=lfs -text
graphify-out/merged-graph.json filter=lfs diff=lfs merge=lfs -text
src/graphify-out/graph.json filter=lfs diff=lfs merge=lfs -text
