COGNITO_DOMAIN=https://stagingskedular.auth.us-east-1.amazoncognito.com
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_4Dtk1H0LC

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=

GATEWAY_ENDPOINT=http://localhost:9000

NEXT_PUBLIC_LOGROCKET_APP_ID=
NEXT_PUBLIC_SLACK_CLIENT_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:15002
NEXT_PUBLIC_API_ENDPOINT=http://localhost:9000
NEXT_PUBLIC_SLACK_REDIRECT_URL=https://mapp.skedular.app

NEXT_PUBLIC_APPLICATION_REGISTRATION_ID=

WORKOS_API_KEY=''
WORKOS_CLIENT_ID=''
WORKOS_COOKIE_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
WORKOS_COOKIE_DOMAIN=".skedular.app"
NEXT_PUBLIC_WORKOS_REDIRECT_URI="http://localhost:15002/callback"
