openapi: 3.1.1
info:
  title: Booking Workaround API v1
  description: "Booking Workaround REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://apistaging.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10300
    description: local

paths:
  /v1/booking/{bookingId}/republish:
    put:
      tags:
        - v1
        - booking
        - workaround
      summary: republish booking
      operationId: republish
      parameters:
        - in: path
          name: bookingId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of booking republishing

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/booking/republish-all:
    put:
      tags:
        - v1
        - booking
        - workaround
      summary: republish all bookings
      operationId: republishAll

      responses:
        "200":
          description: the status of republishing all bookings

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/booking/generate-all-resources-slots:
    put:
      tags:
        - v1
        - booking
        - workaround
      summary: generate all locations resources slots
      operationId: generateAllLocationsResourcesSlots

      responses:
        "200":
          description: the status of republishing all location resources slots

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/booking/resources-slots/{locationId}/generate-all-resources-slots:
    put:
      tags:
        - v1
        - booking
        - workaround
      summary: generate location's resources slots
      operationId: generateLocationResourcesSlots
      parameters:
        - in: path
          name: locationId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of republishing locations resources slots

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/booking/organizations/{organizationId}/generate-arrears-invoices:
    put:
      tags:
        - v1
        - booking
        - workaround
      summary: generate organization arrears invoices
      operationId: generateOrganizationArrearsInvoices
      parameters:
        - in: path
          name: organizationId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of generating organization arrears invoices

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: { }
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string

    Version:
      type: object
      required:
        - major
        - minor
        - build
        - revision
      properties:
        major:
          type: integer
          format: int32
          description: major version
        minor:
          type: integer
          format: int32
          description: minor version
        build:
          type: integer
          format: int32
          description: build number
        revision:
          type: integer
          format: int32
          description: revision
