openapi: 3.1.1
info:
  title: Booking Xero Webhook API v1
  description: "Booking Xero Webhook REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://apistaging.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10300
    description: local

paths:
  /v1/booking/xero/webhook:
    post:
      tags:
        - v1
        - booking
        - xero
        - webhook
      summary: Xero Webhook
      operationId: processXeroWebhookEvent
      parameters:
        - in: header
          name: x-xero-signature
          schema:
            type: string
          required: false
          description: Xero webhook signature

      responses:
        "200":
          description: the status of processing the Xero webhook event
        "401":
          description: invalid Xero webhook signature

components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: { }
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string

    Version:
      type: object
      required:
        - major
        - minor
        - build
        - revision
      properties:
        major:
          type: integer
          format: int32
          description: major version
        minor:
          type: integer
          format: int32
          description: minor version
        build:
          type: integer
          format: int32
          description: build number
        revision:
          type: integer
          format: int32
          description: revision
