openapi: 3.1.1
info:
  title: Billing API v1
  description: "Billing REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://apistaging.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10800
    description: local

paths:
  /v1/billing/version:
    get:
      tags:
        - v1
        - billing
      summary: return API version
      operationId: getVersion

      responses:
        "200":
          description: the version of the API
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error message

    Version:
      type: object
      required:
        - major
        - minor
        - build
        - revision
      properties:
        major:
          type: integer
          format: int32
          description: major version
        minor:
          type: integer
          format: int32
          description: minor version
        build:
          type: integer
          format: int32
          description: build number
        revision:
          type: integer
          format: int32
          description: revision
