openapi: 3.1.1
info:
  title: Booking API v1
  description: "Booking REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://stagingapi.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10300
    description: local

paths:
  /v1/booking/version:
    get:
      tags:
        - booking
      summary: return API version
      operationId: getVersion

      responses:
        "200":
          description: the version of the API
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/booking/{bookingId}/republish:
    put:
      tags:
        - booking
      summary: republish booking
      operationId: republish
      parameters:
        - in: path
          name: bookingId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of booking republishing

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/booking/republish-all:
    put:
      tags:
        - booking
      summary: republish all bookings
      operationId: republishAll

      responses:
        "200":
          description: the status of republishing all bookings

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/booking/republish-all-resources-slots:
    put:
      tags:
        - booking
      summary: republish all resource slots
      operationId: republishAllResourcesSlots

      responses:
        "200":
          description: the status of republishing all resources slots

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/booking/resources-slots/{resourceId}/republish:
    put:
      tags:
        - booking
      summary: republish resource slots
      operationId: republishResourcesSlots
      parameters:
        - in: path
          name: resourceId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of republishing resources slots

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error message

    Version:
      type: object
      required:
        - major
        - minor
        - build
        - revision
      properties:
        major:
          type: integer
          format: int32
          description: major version
        minor:
          type: integer
          format: int32
          description: minor version
        build:
          type: integer
          format: int32
          description: build number
        revision:
          type: integer
          format: int32
          description: revision
