openapi: 3.1.1
info:
  title: Customer API v1
  description: "Customer REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://apistaging.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10000
    description: local

paths:
  /v1/customer/version:
    get:
      tags:
        - v1
        - customer
      summary: return API version
      operationId: getVersion

      responses:
        "200":
          description: the version of the API
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/customer/{customerId}/republish:
    put:
      tags:
        - v1
        - customer
      summary: republish customer
      operationId: republish
      parameters:
        - in: path
          name: customerId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of customer event republishing

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/customer/republish-all:
    put:
      tags:
        - v1
        - customer
      summary: republish all customers
      operationId: republishAll

      responses:
        "200":
          description: the status of customer republishing

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error message

    Version:
      type: object
      required:
        - major
        - minor
        - build
        - revision
      properties:
        major:
          type: integer
          format: int32
          description: major version
        minor:
          type: integer
          format: int32
          description: minor version
        build:
          type: integer
          format: int32
          description: build number
        revision:
          type: integer
          format: int32
          description: revision
