openapi: 3.1.1
info:
  title: Location API v1
  description: "Location REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://apistaging.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10600
    description: local

paths:
  /v1/location/version:
    get:
      tags:
        - v1
        - location
      summary: return API version
      operationId: getVersion

      responses:
        "200":
          description: the version of the API
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/location/raiseGraphqlChange/{topicName}/{id}:
    get:
      tags:
        - v1
        - location
        - graphql
      summary: raise graphql change
      operationId: raiseGraphqlChange
      parameters:
        - in: path
          name: topicName
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
        - in: header
          name: X-API-Key
          schema:
            type: string
          required: true
          description: API Key

      responses:
        "200":
          description: the result of raising the graphql change

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/location/{locationId}/republish:
    put:
      tags:
        - v1
        - location
        - workaround
      summary: republish location
      operationId: republish
      parameters:
        - in: path
          name: locationId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of location republishing

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/location/republish-all:
    put:
      tags:
        - v1
        - location
        - workaround
      summary: republish all locations
      operationId: republishAll

      responses:
        "200":
          description: the status of location republishing

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/location/analytics/regenerate-all-daily-analytics:
    put:
      tags:
        - v1
        - location
        - analytics
      summary: regenerate all locations daily analytics
      operationId: regenerateAllDailyAnalytics

      responses:
        "200":
          description: the status of regenerating all locations daily analytics

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/location/analytics/{locationId}/regenerate-daily-analytics:
    put:
      tags:
        - v1
        - location
        - analytics
      summary: regenerate location daily analytics
      operationId: regenerateDailyAnalytics
      parameters:
        - in: path
          name: locationId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of regenerating location daily analytics

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: { }
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string

    Version:
      type: object
      required:
        - major
        - minor
        - build
        - revision
      properties:
        major:
          type: integer
          format: int32
          description: major version
        minor:
          type: integer
          format: int32
          description: minor version
        build:
          type: integer
          format: int32
          description: build number
        revision:
          type: integer
          format: int32
          description: revision
