openapi: 3.1.1
info:
  title: Marketplace API v1
  description: "Marketplace REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://stagingapi.skedular.app
    description: staging
  - url: https://localhost:9000
    description: local gateway
  - url: https://localhost:11000
    description: local

paths:
  /marketplace/api/v1/{organizationId}/products/republish-all:
    put:
      tags:
        - marketplace
        - product
      summary: republish organization products
      operationId: republishAllOrganizationProducts
      parameters:
        - in: path
          name: organizationId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of all organization products republishing

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /marketplace/api/v1/products/republish-all:
    put:
      tags:
        - marketplace
        - product
      summary: republish all products
      operationId: republishAllProducts

      responses:
        "200":
          description: the status of all products republishing

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error message
