{
  "$schema": "https://spec.openapis.org/oas/3.2/schema/2025-09-17",
  "openapi": "3.2.0",
  "info": {
    "title": "Organization API v1",
    "description": "Organization REST API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.skedular.app",
      "description": "production"
    },
    {
      "url": "https://apistaging.skedular.app",
      "description": "staging"
    },
    {
      "url": "http://localhost:9000",
      "description": "local gateway"
    },
    {
      "url": "http://localhost:10200",
      "description": "local"
    }
  ],
  "paths": {
    "/v1/organization/version": {
      "get": {
        "tags": [
          "v1",
          "organization"
        ],
        "summary": "return API version",
        "operationId": "getVersion",
        "responses": {
          "200": {
            "description": "the version of the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/{organizationId}/republish": {
      "put": {
        "tags": [
          "v1",
          "organization",
          "workaround"
        ],
        "summary": "republish organization",
        "operationId": "republish",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "the status of organization republishing"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/republish-all": {
      "put": {
        "tags": [
          "v1",
          "organization",
          "workaround"
        ],
        "summary": "republish all organizations",
        "operationId": "republishAll",
        "responses": {
          "200": {
            "description": "the status of organization republishing"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/regenerate-all-offerings": {
      "put": {
        "tags": [
          "v1",
          "organization",
          "offering",
          "workaround"
        ],
        "summary": "regenerate all offerings",
        "operationId": "regenerateAllOfferings",
        "responses": {
          "200": {
            "description": "the status of regenrating all offerings"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/rerun-all-offerings-workflows": {
      "put": {
        "tags": [
          "v1",
          "organization",
          "offering",
          "workaround"
        ],
        "summary": "rerun all offerings workflows",
        "operationId": "rerunAllOfferingsWorkflows",
        "responses": {
          "200": {
            "description": "the status of running all offerings workflows"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/{organizationId}/offering/{offeringCode}": {
      "put": {
        "tags": [
          "v1",
          "organization",
          "offering"
        ],
        "summary": "change organization offering",
        "operationId": "changeOrganizationOffering",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "offeringCode",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "X-API-Key",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Bearer access token"
          }
        ],
        "responses": {
          "200": {
            "description": "the status of changing organization offering"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/azure-tenant-admin-consent-url": {
      "get": {
        "tags": [
          "v1",
          "organization",
          "azure-tenant"
        ],
        "summary": "generate an admin consent Url for the given tenant",
        "operationId": "azureTenantAdminConsentUrl",
        "responses": {
          "302": {
            "description": "redirect status response code"
          }
        }
      }
    },
    "/v1/organization/onboard-azure-tenant": {
      "get": {
        "tags": [
          "v1",
          "organization",
          "azure-tenant"
        ],
        "summary": "OnBoard a tenant",
        "operationId": "onboardAzureTenant",
        "parameters": [
          {
            "in": "query",
            "name": "tenant",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "admin_consent",
            "schema": {
              "type": "boolean"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "state",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "error",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "error_description",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "onboarding response"
          }
        }
      }
    },
    "/v1/organization/sso/saml/acs": {
      "post": {
        "tags": [
          "v1",
          "organization",
          "sso",
          "saml"
        ],
        "summary": "sso acs",
        "operationId": "SsoSamlAcs",
        "responses": {
          "200": {
            "description": "Sso Saml Acs"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/add-payment-method": {
      "get": {
        "tags": [
          "v1",
          "organization",
          "payment-method"
        ],
        "summary": "add payment method",
        "operationId": "addPaymentMethod",
        "parameters": [
          {
            "name": "setup_intent",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "setup_intent_client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "the readiness status"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/organization-stripe-connect-account/refresh-onboarding-url": {
      "get": {
        "tags": [
          "v1",
          "organization",
          "organizationStripeConnectAccounts",
          "onboarding"
        ],
        "summary": "return OrganizationStripeConnectAccount onboarding refresh URL",
        "operationId": "refreshOrganizationStripeConnectAccountOnboarding",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "should never be returned"
          },
          "302": {
            "description": "redirect to OrganizationStripeConnectAccounts new onboarding URL"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/stripe/platform/account/webhook": {
      "post": {
        "tags": [
          "v1",
          "organization",
          "stripe",
          "platform",
          "webhook"
        ],
        "summary": "Stripe Platform Account Webhook",
        "operationId": "processStripePlatformAccountEvent",
        "parameters": [
          {
            "in": "header",
            "name": "Stripe-Signature",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Stripe webhook signature"
          }
        ],
        "responses": {
          "200": {
            "description": "the status of processing the Stripe Platform Account event"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/stripe/connect/account/webhook": {
      "post": {
        "tags": [
          "v1",
          "organization",
          "stripe",
          "connect",
          "webhook"
        ],
        "summary": "Stripe Connect Account Webhook",
        "operationId": "processStripeConnectAccountEvent",
        "parameters": [
          {
            "in": "header",
            "name": "Stripe-Signature",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Stripe webhook signature"
          }
        ],
        "responses": {
          "200": {
            "description": "the status of processing the Stripe Connect Account event"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/stripe/connect/account/oauth/callback": {
      "get": {
        "tags": [
          "v1",
          "organization",
          "stripe",
          "connect",
          "oauth"
        ],
        "summary": "Stripe Connect Account OAuth Callback",
        "operationId": "StripeConnectAccountOAuthCallback",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "An authorization code you can use in the next call to get an access token for your user. This can only be used once and expires in 5 minutes."
          },
          {
            "in": "query",
            "name": "scope",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "read_write or read_only, depending what you passed on the initial GET request."
          },
          {
            "in": "query",
            "name": "state",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The value of the state parameter you provided on the initial GET request."
          }
        ],
        "responses": {
          "200": {
            "description": "the status of processing the Stripe Connect Account event"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/azure-tenant/resync-all-azure-tenants": {
      "put": {
        "tags": [
          "v1",
          "organization",
          "azure-tenant",
          "workaround"
        ],
        "summary": "resync all azure tenants",
        "operationId": "reSyncAllAzureTenants",
        "responses": {
          "200": {
            "description": "the status of resyncing all azure tenants"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/azure-tenant/{tenantId}/resync": {
      "put": {
        "tags": [
          "v1",
          "organization",
          "azure-tenant",
          "workaround"
        ],
        "summary": "resync azure tenant",
        "operationId": "reSyncAzureTenant",
        "parameters": [
          {
            "in": "path",
            "name": "tenantId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "the status of resyncing azure tenant"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/analytics/regenerate-all-daily-analytics": {
      "put": {
        "tags": [
          "v1",
          "organization",
          "analytics",
          "workaround"
        ],
        "summary": "regenerate all organizations daily analytics",
        "operationId": "regenerateAllDailyAnalytics",
        "responses": {
          "200": {
            "description": "the status of regenerating all organizations daily analytics"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organization/analytics/{organizationId}/regenerate-daily-analytics": {
      "put": {
        "tags": [
          "v1",
          "organization",
          "analytics",
          "workaround"
        ],
        "summary": "regenerate organization daily analytics",
        "operationId": "regenerateDailyAnalytics",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "the status of regenerating organization daily analytics"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProblemDetails": {
        "type": "object",
        "additionalProperties": {},
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        }
      },
      "Version": {
        "type": "object",
        "required": [
          "major",
          "minor",
          "build",
          "revision"
        ],
        "properties": {
          "major": {
            "type": "integer",
            "format": "int32",
            "description": "major version"
          },
          "minor": {
            "type": "integer",
            "format": "int32",
            "description": "minor version"
          },
          "build": {
            "type": "integer",
            "format": "int32",
            "description": "build number"
          },
          "revision": {
            "type": "integer",
            "format": "int32",
            "description": "revision"
          }
        }
      }
    }
  }
}
