openapi: 3.1.1
info:
  title: Payment API v1
  description: "Payment REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://stagingapi.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10100
    description: local

paths:
  /payment/api/v1/organization/add-payment-method:
    get:
      tags:
        - payment-method
        - payment
        - organization
      summary: add organization payment method
      operationId: addOrganizationPaymentMethod
      parameters:
        - name: setup_intent
          in: query
          required: true
          schema:
            type: string
        - name: setup_intent_client_secret
          in: query
          required: true
          schema:
            type: string
        - name: redirect_status
          in: query
          required: true
          schema:
            type: string

      responses:
        "200":
          description: the readiness status

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /payment/api/v1/organization-stripe-connect-account/refresh-onboarding-url:
    get:
      tags:
        - payment
        - organizationStripeConnectAccounts
        - onboarding
      summary: return OrganizationStripeConnectAccount onboarding refresh URL
      operationId: refreshOrganizationStripeConnectAccountOnboarding
      parameters:
        - in: query
          name: code
          schema:
            type: string
          required: true

      responses:
        "200":
          description: should never be returned
        "302":
          description: redirect to OrganizationStripeConnectAccounts new onboarding URL

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /payment/api/v1/stripe/platform/account/webhook:
    post:
      tags:
        - payment
        - stripe
        - webhook
        - platform
      summary: Stripe Platform Account Webhook
      operationId: processStripePlatformAccountEvent
      parameters:
        - in: header
          name: Stripe-Signature
          schema:
            type: string
          required: false
          description: Stripe webhook signature

      responses:
        "200":
          description: the status of processing the Stripe Platform Account event

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /payment/api/v1/stripe/connect/account/webhook:
    post:
      tags:
        - payment
        - stripe
        - webhook
        - connect
      summary: Stripe Connect Account Webhook
      operationId: processStripeConnectAccountEvent
      parameters:
        - in: header
          name: Stripe-Signature
          schema:
            type: string
          required: false
          description: Stripe webhook signature

      responses:
        "200":
          description: the status of processing the Stripe Connect Account event

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /payment/api/v1/organization-stripe-connect-account/republish-all:
    put:
      tags:
        - payment
        - organizationStripeConnectAccounts
      summary: republish all OrganizationStripeConnectAccounts
      operationId: republishAllOrganizationStripeConnectAccounts

      responses:
        "200":
          description: the status of republishing all OrganizationStripeConnectAccounts

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error message
