openapi: 3.1.1
info:
  title: slack API v1
  description: "slack REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://apistaging.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10700
    description: local

paths:
  /v1/slack/version:
    get:
      tags:
        - v1
        - slack
      summary: return API version
      operationId: getVersion

      responses:
        "200":
          description: the version of the API
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/slack/raiseGraphqlChange/{topicName}/{id}:
    get:
      tags:
        - v1
        - slack
        - graphql
      summary: raise graphql change
      operationId: raiseGraphqlChange
      parameters:
        - in: path
          name: topicName
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
        - in: header
          name: X-API-Key
          schema:
            type: string
          required: true
          description: API Key

      responses:
        "200":
          description: the result of raising the graphql change

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/slack/callback:
    get:
      tags:
        - v1
        - slack
      summary: slack installation callback
      operationId: callback
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: false
          schema:
            type: string

      responses:
        "200":
          description: the response

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/slack/workspace/resync-all-workspaces:
    put:
      tags:
        - v1
        - slack
        - workspace
        - workaround
      summary: resync all slack workspace
      operationId: reSyncAllSlackWorkspaces

      responses:
        "200":
          description: the status of resyncing all slack workspaces

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/slack/workspace/{workspaceId}/resync:
    put:
      tags:
        - v1
        - slack
        - workspace
        - workaround
      summary: resync slack workspace
      operationId: reSyncSlackWorkspace
      parameters:
        - in: path
          name: workspaceId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of resyncing slack workspace

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: { }
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string

    Version:
      type: object
      required:
        - major
        - minor
        - build
        - revision
      properties:
        major:
          type: integer
          format: int32
          description: major version
        minor:
          type: integer
          format: int32
          description: minor version
        build:
          type: integer
          format: int32
          description: build number
        revision:
          type: integer
          format: int32
          description: revision
