openapi: 3.1.1
info:
  title: Team API v1
  description: "Team REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://stagingapi.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10500
    description: local

paths:
  /v1/team/{teamId}/republish:
    put:
      tags:
        - team
      summary: republish team
      operationId: republish
      parameters:
        - in: path
          name: teamId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of team republishing

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/team/republish-all:
    put:
      tags:
        - team
      summary: republish all teams
      operationId: republishAll

      responses:
        "200":
          description: the status of team republishing

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error message
