{
  "$schema": "https://spec.openapis.org/oas/3.2/schema/2025-09-17",
  "openapi": "3.2.0",
  "info": {
    "title": "Team API v1",
    "description": "Team REST API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.skedular.app",
      "description": "production"
    },
    {
      "url": "https://apistaging.skedular.app",
      "description": "staging"
    },
    {
      "url": "http://localhost:9000",
      "description": "local gateway"
    },
    {
      "url": "http://localhost:10500",
      "description": "local"
    }
  ],
  "paths": {
    "/v1/team/version": {
      "get": {
        "tags": [
          "v1",
          "team"
        ],
        "summary": "return API version",
        "operationId": "getVersion",
        "responses": {
          "200": {
            "description": "the version of the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/team/{teamId}/republish": {
      "put": {
        "tags": [
          "v1",
          "team",
          "workaround"
        ],
        "summary": "republish team",
        "operationId": "republish",
        "parameters": [
          {
            "in": "path",
            "name": "teamId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "the status of team republishing"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/team/republish-all": {
      "put": {
        "tags": [
          "v1",
          "team",
          "workaround"
        ],
        "summary": "republish all teams",
        "operationId": "republishAll",
        "responses": {
          "200": {
            "description": "the status of team republishing"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProblemDetails": {
        "type": "object",
        "additionalProperties": {},
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        }
      },
      "Version": {
        "type": "object",
        "required": [
          "major",
          "minor",
          "build",
          "revision"
        ],
        "properties": {
          "major": {
            "type": "integer",
            "format": "int32",
            "description": "major version"
          },
          "minor": {
            "type": "integer",
            "format": "int32",
            "description": "minor version"
          },
          "build": {
            "type": "integer",
            "format": "int32",
            "description": "build number"
          },
          "revision": {
            "type": "integer",
            "format": "int32",
            "description": "revision"
          }
        }
      }
    }
  }
}
