openapi: 3.1.1
info:
  title: Organization Core API v1
  description: "Organization Core REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://apistaging.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10200
    description: local

paths:
  /v1/organization/version:
    get:
      tags:
        - v1
        - organization
      summary: return API version
      operationId: getVersion

      responses:
        "200":
          description: the version of the API
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/{organizationId}/changeOrganizationOfferingById/{offeringCode}:
    put:
      tags:
        - v1
        - organization
        - offering
      summary: change organization offering by Id
      operationId: changeOrganizationOfferingById
      parameters:
        - in: path
          name: organizationId
          schema:
            type: string
          required: true
        - in: path
          name: offeringCode
          schema:
            $ref: "#/components/schemas/OfferingCode"
          required: true
        - in: header
          name: X-API-Key
          schema:
            type: string
          required: true
          description: API Key

      responses:
        "200":
          description: the status of changing organization offering

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/{customDomain}/changeOrganizationOfferingByCustomDomain/{offeringCode}:
    put:
      tags:
        - v1
        - organization
        - offering
      summary: change organization offering by custom domain
      operationId: changeOrganizationOfferingByCustomDomain
      parameters:
        - in: path
          name: customDomain
          schema:
            type: string
          required: true
        - in: path
          name: offeringCode
          schema:
            $ref: "#/components/schemas/OfferingCode"
          required: true
        - in: header
          name: X-API-Key
          schema:
            type: string
          required: true
          description: API Key

      responses:
        "200":
          description: the status of changing organization offering

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/ownership/verifyById/{organizationId}:
    put:
      tags:
        - v1
        - organization
        - ownership
      summary: verify organization ownership by id
      operationId: verifyOrganizationOwnershipById
      parameters:
        - in: path
          name: organizationId
          schema:
            type: string
          required: true
        - in: header
          name: X-API-Key
          schema:
            type: string
          required: true
          description: API Key

      responses:
        "200":
          description: the status of verifying organization ownership

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/ownership/verifyByCustomDomain/{customDomain}:
    put:
      tags:
        - v1
        - organization
        - ownership
      summary: verify organization ownership by custom domain
      operationId: verifyOrganizationOwnershipByCustomDomain
      parameters:
        - in: path
          name: customDomain
          schema:
            type: string
          required: true
        - in: header
          name: X-API-Key
          schema:
            type: string
          required: true
          description: API Key

      responses:
        "200":
          description: the status of verifying organization ownership

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/azure-tenant-admin-consent-url:
    get:
      tags:
        - v1
        - organization
        - azure-tenant
      summary: generate an admin consent Url for the given tenant
      operationId: azureTenantAdminConsentUrl
      responses:
        "302":
          description: redirect status response code

  /v1/organization/onboard-azure-tenant:
    get:
      tags:
        - v1
        - organization
        - azure-tenant
      summary: OnBoard a tenant
      operationId: onboardAzureTenant
      parameters:
        - in: query
          name: tenant
          schema:
            type: string
          required: true
        - in: query
          name: admin_consent
          schema:
            type: boolean
          required: true
        - in: query
          name: state
          schema:
            type: string
          required: true
        - in: query
          name: error
          schema:
            type: string
        - in: query
          name: error_description
          schema:
            type: string
      responses:
        "200":
          description: onboarding response

  /v1/organization/sso/saml/acs:
    post:
      tags:
        - v1
        - organization
        - sso
        - saml
      summary: sso acs
      operationId: SsoSamlAcs

      responses:
        "200":
          description: Sso Saml Acs

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/add-payment-method:
    get:
      tags:
        - v1
        - organization
        - payment-method
      summary: add payment method
      operationId: addPaymentMethod
      parameters:
        - name: setup_intent
          in: query
          required: true
          schema:
            type: string
        - name: setup_intent_client_secret
          in: query
          required: true
          schema:
            type: string
        - name: redirect_status
          in: query
          required: true
          schema:
            type: string
        - name: redirect_to
          in: query
          required: false
          schema:
            type: string
            nullable: true

      responses:
        "200":
          description: the readiness status

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/organization-stripe-connect-account/refresh-onboarding-url:
    get:
      tags:
        - v1
        - organization
        - organizationStripeConnectAccounts
        - onboarding
      summary: return OrganizationStripeConnectAccount onboarding refresh URL
      operationId: refreshOrganizationStripeConnectAccountOnboarding
      parameters:
        - in: query
          name: code
          schema:
            type: string
          required: true

      responses:
        "200":
          description: should never be returned
        "302":
          description: redirect to OrganizationStripeConnectAccounts new onboarding URL

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/stripe/platform/account/webhook:
    post:
      tags:
        - v1
        - organization
        - stripe
        - platform
        - webhook
      summary: Stripe Platform Account Webhook
      operationId: processStripePlatformAccountEvent
      parameters:
        - in: header
          name: Stripe-Signature
          schema:
            type: string
          required: false
          description: Stripe webhook signature

      responses:
        "200":
          description: the status of processing the Stripe Platform Account event

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/stripe/connect/account/webhook:
    post:
      tags:
        - v1
        - organization
        - stripe
        - connect
        - webhook
      summary: Stripe Connect Account Webhook
      operationId: processStripeConnectAccountEvent
      parameters:
        - in: header
          name: Stripe-Signature
          schema:
            type: string
          required: false
          description: Stripe webhook signature

      responses:
        "200":
          description: the status of processing the Stripe Connect Account event

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/stripe/connect/account/oauth/callback:
    get:
      tags:
        - v1
        - organization
        - stripe
        - connect
        - oauth
      summary: Stripe Connect Account OAuth Callback
      operationId: StripeConnectAccountOAuthCallback
      parameters:
        - in: query
          name: code
          schema:
            type: string
          required: true
          description: An authorization code you can use in the next call to get an access token for your user. This can only be used once and expires in 5 minutes.
        - in: query
          name: scope
          schema:
            type: string
          required: true
          description: read_write or read_only, depending what you passed on the initial GET request.
        - in: query
          name: state
          schema:
            type: string
          required: true
          description: The value of the state parameter you provided on the initial GET request.

      responses:
        "200":
          description: the status of processing the Stripe Connect Account event

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/xero/oauth/start:
    get:
      tags:
        - v1
        - organization
        - xero
        - oauth
      summary: Xero OAuth start
      operationId: startXeroOAuth
      parameters:
        - in: query
          name: organizationId
          schema:
            type: string
          required: false
        - in: query
          name: organizationCustomDomain
          schema:
            type: string
          required: false

      responses:
        "302":
          description: redirect to Xero consent page

  /v1/organization/xero/oauth/callback:
    get:
      tags:
        - v1
        - organization
        - xero
        - oauth
      summary: Xero OAuth callback
      operationId: xeroOAuthCallback
      parameters:
        - in: query
          name: code
          schema:
            type: string
          required: true
        - in: query
          name: state
          schema:
            type: string
          required: true

      responses:
        "302":
          description: redirect back to organization marketplace setup

components:
  schemas:
    OfferingCode:
      type: string
      enum:
        - EARLY_BIRD_V1
        - FREE_TIER_V1
        - PAY_AS_YOU_GO_V1
        - ENTERPRISE_CUSTOM_V1
        - SPACES_FREE_TIER_V1
        - SPACES_GROWTH_V1
        - SPACES_BUSINESS_V1
        - SPACES_CONTACT_US_V1
        - HOST_STANDARD_V1

    ProblemDetails:
      type: object
      additionalProperties: { }
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string

    Version:
      type: object
      required:
        - major
        - minor
        - build
        - revision
      properties:
        major:
          type: integer
          format: int32
          description: major version
        minor:
          type: integer
          format: int32
          description: minor version
        build:
          type: integer
          format: int32
          description: build number
        revision:
          type: integer
          format: int32
          description: revision
