openapi: 3.1.1
info:
  title: Organization Workaround API v1
  description: "Organization Workaround REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://apistaging.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10200
    description: local

paths:
  /v1/organization/{customDomain}/republish:
    put:
      tags:
        - v1
        - organization
        - workaround
      summary: republish organization
      operationId: republish
      parameters:
        - in: path
          name: customDomain
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of organization republishing

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/republish-all:
    put:
      tags:
        - v1
        - organization
        - workaround
      summary: republish all organizations
      operationId: republishAll

      responses:
        "200":
          description: the status of organization republishing

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/regenerate-all-offerings:
    put:
      tags:
        - v1
        - organization
        - offering
        - workaround
      summary: regenerate all offerings
      operationId: regenerateAllOfferings

      responses:
        "200":
          description: the status of regenrating all offerings

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/rerun-all-offerings-workflows:
    put:
      tags:
        - v1
        - organization
        - offering
        - workaround
      summary: rerun all offerings workflows
      operationId: rerunAllOfferingsWorkflows

      responses:
        "200":
          description: the status of running all offerings workflows

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/enterprise-offering:
    put:
      tags:
        - v1
        - organization
        - offering
        - workaround
      summary: set negotiated organization offering
      operationId: setEnterpriseOffering
      parameters:
        - in: header
          name: X-API-Key
          schema:
            type: string
          required: true
          description: API Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetEnterpriseOfferingRequest"

      responses:
        "200":
          description: the status of setting the negotiated organization offering

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/azure-tenant/resync-all-azure-tenants:
    put:
      tags:
        - v1
        - organization
        - azure-tenant
        - workaround
      summary: resync all azure tenants
      operationId: reSyncAllAzureTenants

      responses:
        "200":
          description: the status of resyncing all azure tenants

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/azure-tenant/{tenantId}/resync:
    put:
      tags:
        - v1
        - organization
        - azure-tenant
        - workaround
      summary: resync azure tenant
      operationId: reSyncAzureTenant
      parameters:
        - in: path
          name: tenantId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of resyncing azure tenant

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/analytics/regenerate-all-daily-analytics:
    put:
      tags:
        - v1
        - organization
        - analytics
        - workaround
      summary: regenerate all organizations daily analytics
      operationId: regenerateAllDailyAnalytics

      responses:
        "200":
          description: the status of regenerating all organizations daily analytics

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/organization/analytics/{customDomain}/regenerate-daily-analytics:
    put:
      tags:
        - v1
        - organization
        - analytics
        - workaround
      summary: regenerate organization daily analytics
      operationId: regenerateDailyAnalytics
      parameters:
        - in: path
          name: customDomain
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of regenerating organization daily analytics

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

components:
  schemas:
    SetEnterpriseOfferingRequest:
      type: object
      additionalProperties: false
      required:
        - offeringCode
        - fixedPrice
        - currency
      properties:
        organizationId:
          type: string
          nullable: true
        customDomain:
          type: string
          nullable: true
        offeringCode:
          $ref: "#/components/schemas/OfferingCode"
          description: The organization offering code to assign.
        fixedPrice:
          type: integer
          format: int32
          minimum: 0
          description: Fixed monthly price for the negotiated offering in minor currency units.
        currency:
          $ref: "#/components/schemas/Currency"
        purchasedUserCapacity:
          type: integer
          format: int32
          minimum: 1
          nullable: true
          description: Optional maximum monthly users allowed for the negotiated offering. Omit for the offering default.
        purchasedLocationCapacity:
          type: integer
          format: int32
          minimum: 1
          nullable: true
          description: Optional maximum monthly locations allowed for the negotiated offering. Omit for the offering default.
        purchasedTeamCapacity:
          type: integer
          format: int32
          minimum: 1
          nullable: true
          description: Optional maximum monthly teams allowed for the negotiated offering. Omit for the offering default.
        monthlyBookingInstanceQuota:
          type: integer
          format: int32
          minimum: 1
          nullable: true
          description: Optional monthly booking instance quota for Spaces offerings. Omit for the offering default.
        discountPercentage:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          default: 0
          description: Optional discount percentage to apply while billing this offering. It is copied to renewed offering periods until changed.

    OfferingCode:
      type: string
      enum:
        - EARLY_BIRD_V1
        - FREE_TIER_V1
        - PAY_AS_YOU_GO_V1
        - ENTERPRISE_CUSTOM_V1
        - SPACES_FREE_TIER_V1
        - SPACES_GROWTH_V1
        - SPACES_BUSINESS_V1
        - SPACES_CONTACT_US_V1
        - HOST_STANDARD_V1

    Currency:
      type: string
      enum:
        - nzd
        - usd

    ProblemDetails:
      type: object
      additionalProperties: { }
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string
