openapi: 3.1.1
info:
  title: MsTeams Workaround API v1
  description: "MsTeams Workaround REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://apistaging.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10900
    description: local

paths:
  /v1/msteams/azure-tenant/resync-all-msteams:
    put:
      tags:
        - v1
        - msteams
        - azure-tenant
        - workaround
      summary: resync all MsTeams
      operationId: reSyncAllMsTeams

      responses:
        "200":
          description: the status of resyncing all MsTeams

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/msteams/azure-tenant/{tenantId}/resync:
    put:
      tags:
        - v1
        - msteams
        - azure-tenant
        - workaround
      summary: resync MsTeams
      operationId: reSyncMsTeams
      parameters:
        - in: path
          name: tenantId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of resyncing MsTeams

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: { }
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string
