openapi: 3.1.1
info:
  title: Slack Workaround API v1
  description: "Slack Workaround REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://apistaging.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10700
    description: local

paths:
  /v1/slack/workspace/resync-all-workspaces:
    put:
      tags:
        - v1
        - slack
        - workspace
        - workaround
      summary: resync all slack workspace
      operationId: reSyncAllSlackWorkspaces

      responses:
        "200":
          description: the status of resyncing all slack workspaces

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/slack/workspace/{workspaceId}/resync:
    put:
      tags:
        - v1
        - slack
        - workspace
        - workaround
      summary: resync slack workspace
      operationId: reSyncSlackWorkspace
      parameters:
        - in: path
          name: workspaceId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of resyncing slack workspace

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: { }
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string
