openapi: 3.1.1
info:
  title: Core API v1 - GraphQL
  description: "Core REST API - GraphQL Change Notification"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://apistaging.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:11100
    description: local

paths:
  /v1/core/raiseGraphqlChange/{topicName}/{id}:
    get:
      tags:
        - v1
        - core
        - graphql
      summary: raise graphql change
      operationId: raiseGraphqlChange
      parameters:
        - in: path
          name: topicName
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
        - in: header
          name: X-API-Key
          schema:
            type: string
          required: true
          description: API Key

      responses:
        "200":
          description: the result of raising the graphql change

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: { }
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string
