# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

kowl.skedular.app {
	reverse_proxy localhost:8888
}

redisinsight.skedular.app {
	reverse_proxy localhost:5540
}

dozzle.skedular.app {
	reverse_proxy localhost:5001
}

temporal.skedular.app {
	reverse_proxy localhost:8080
}

zipkin.skedular.app {
	reverse_proxy localhost:9411
}

jaeger.skedular.app {
	reverse_proxy localhost:16686
}

crm.skedular.app {
	reverse_proxy localhost:50000
}

apistaging.skedular.app {
	reverse_proxy localhost:49000
}

slackapistaging.skedular.app {
	reverse_proxy localhost:40700
}

api.skedular.app {
	reverse_proxy localhost:9000
}

slackapi.skedular.app {
	reverse_proxy localhost:10700
}

kapp.skedular.app {
	reverse_proxy localhost:7000
}

kapi.skedular.app {
	reverse_proxy localhost:7000
}

dapp.skedular.app {
	reverse_proxy localhost:7000
}

dapi.skedular.app {
	reverse_proxy localhost:7000
}

mapp.skedular.app {
	reverse_proxy localhost:7000
}

mapi.skedular.app {
	reverse_proxy localhost:7000
}

napp.skedular.app {
	reverse_proxy localhost:7000
}

napi.skedular.app {
	reverse_proxy localhost:7000
}