# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

kowl.skedular.app {
	reverse_proxy localhost:8888
}

dozzle.skedular.app {
	reverse_proxy localhost:5001
}

crm.skedular.app {
	reverse_proxy localhost:50000
}

aapp.skedular.app {
	reverse_proxy localhost:7000
}

aweb.skedular.app {
	reverse_proxy localhost:7000
}

amsteams.skedular.app {
	reverse_proxy localhost:7000
}

dapp.skedular.app {
	reverse_proxy localhost:7000
}

dweb.skedular.app {
	reverse_proxy localhost:7000
}

dmsteams.skedular.app {
	reverse_proxy localhost:7000
}

mapp.skedular.app {
	reverse_proxy localhost:7000
}

mweb.skedular.app {
	reverse_proxy localhost:7000
}

mmsteams.skedular.app {
	reverse_proxy localhost:7000
}

yapp.skedular.app {
	reverse_proxy localhost:7000
}

yweb.skedular.app {
	reverse_proxy localhost:7000
}

ymsteams.skedular.app {
	reverse_proxy localhost:7000
}

staging.getskedular.com {
	reverse_proxy localhost:8080
}

getskedular.com {
	reverse_proxy localhost:8081
}

apistaging.skedular.app {
	reverse_proxy localhost:49000
}

customerapistaging.skedular.app {
	reverse_proxy localhost:40000
}

paymentapistaging.skedular.app {
	reverse_proxy localhost:40100
}

organizationapistaging.skedular.app {
	reverse_proxy localhost:40200
}

bookingapistaging.skedular.app {
	reverse_proxy localhost:40300
}

notificationapistaging.skedular.app {
	reverse_proxy localhost:40400
}

teamapistaging.skedular.app {
	reverse_proxy localhost:40500
}

locationapistaging.skedular.app {
	reverse_proxy localhost:40600
}

slackapistaging.skedular.app {
	reverse_proxy localhost:40700
}

billingapistaging.skedular.app {
	reverse_proxy localhost:40800
}

msteamsapistaging.skedular.app {
	reverse_proxy localhost:40900
}

api.skedular.app {
	reverse_proxy localhost:9000
}

customerapi.skedular.app {
	reverse_proxy localhost:10000
}

paymentapi.skedular.app {
	reverse_proxy localhost:10100
}

organizationapi.skedular.app {
	reverse_proxy localhost:10200
}

bookingapi.skedular.app {
	reverse_proxy localhost:10300
}

notificationapi.skedular.app {
	reverse_proxy localhost:10400
}

teamapi.skedular.app {
	reverse_proxy localhost:10500
}

locationapi.skedular.app {
	reverse_proxy localhost:10600
}

slackapi.skedular.app {
	reverse_proxy localhost:10700
}

billingapi.skedular.app {
	reverse_proxy localhost:10800
}

msteamsapi.skedular.app {
	reverse_proxy localhost:10900
}

