openapi: 3.1.1
info:
  title: Location Analytics API v1
  description: "Location Analytics REST API"
  version: 1.0.0

servers:
  - url: https://api.skedular.app
    description: production
  - url: https://apistaging.skedular.app
    description: staging
  - url: http://localhost:9000
    description: local gateway
  - url: http://localhost:10600
    description: local

paths:
  /v1/location/analytics/regenerate-all-daily-analytics:
    put:
      tags:
        - v1
        - location
        - analytics
      summary: regenerate all locations daily analytics
      operationId: regenerateAllDailyAnalytics

      responses:
        "200":
          description: the status of regenerating all locations daily analytics

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/location/analytics/{locationId}/regenerate-daily-analytics:
    put:
      tags:
        - v1
        - location
        - analytics
      summary: regenerate location daily analytics
      operationId: regenerateDailyAnalytics
      parameters:
        - in: path
          name: locationId
          schema:
            type: string
          required: true

      responses:
        "200":
          description: the status of regenerating location daily analytics

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /v1/location/analytics/{locationId}/regenerate-resource-availability-snapshots:
    put:
      tags:
        - v1
        - location
        - analytics
      summary: regenerate resource availability snapshots for a location over a date range
      operationId: regenerateResourceAvailabilitySnapshots
      parameters:
        - in: path
          name: locationId
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegenerateResourceAvailabilitySnapshotsInput"

      responses:
        "200":
          description: the status of regenerating resource availability snapshots

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: { }
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string
    RegenerateResourceAvailabilitySnapshotsInput:
      type: object
      required:
        - from
        - until
      properties:
        from:
          type: string
          format: date-time
          description: Start date (inclusive) for snapshot regeneration in UTC
        until:
          type: string
          format: date-time
          description: End date (inclusive) for snapshot regeneration in UTC
