ASPNETCORE_ENVIRONMENT=Development

IdentityProviders__Cognito__JwksUri=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_D80U3krzp/.well-known/jwks.json
IdentityProviders__Cognito__Issuer=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_D80U3krzp
IdentityProviders__Cognito__Audiences=7369u947e21plbor9hc4n1r15n,b7lr0dm0454j4df2g6u6l2al

IdentityProviders__WorkOS__JwksUri=https://api.workos.com/sso/jwks/client_01H0Q195NGRARQSJT1TTDAKKR9
IdentityProviders__WorkOS__Issuer=https://api.workos.com
IdentityProviders__WorkOS__ApiKey=

IdentityProviders__Google__ApplicationId=661765198440-lgar8febodjaudbn3ij5tgngqiv0qioi.apps.googleusercontent.com
IdentityProviders__Google__Issuer=https://accounts.google.com

Application__WebAppBaseDomain=http://localhost:15000
Application__SpacesWebAppBaseDomain=http://localhost:15004
Application__HostWebAppBaseDomain=http://localhost:15006
PUBLIC_WEB_SITE_URL=http://localhost:15006

Stripe__PublishableKey=
Stripe__SecretKey=
Stripe__BookingPlatformAccountWebhookKey=
Stripe__BookingConnectAccountWebhookKey=
Stripe__OrganizationPlatformAccountWebhookKey=
Stripe__OrganizationConnectAccountWebhookKey=
Stripe__LogStripePlatformAccountWebhookMessages=true
Stripe__LogStripeConnectAccountWebhookMessages=true
Stripe__OAuthClientId=

Slack__AppId=
Slack__ClientId=
Slack__ClientSecret=
Slack__SigningSecret=
Slack__RedirectUrl=
Slack__SuccessInstallUrl=

AzureEntra__ClientId=
AzureEntra__ClientSecret=

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

ASPIRE_DASHBOARD_OTLP_ENDPOINT_URL=http://localhost:19115
ASPIRE_RESOURCE_SERVICE_ENDPOINT_URL=http://localhost:20185

Cloudflare__AccessKey=
Cloudflare__SecretKey=

Xero__ClientId=
Xero__ClientSecret=
Xero__WebhookKey=
Xero__LogWebhookMessages=true
